<div id="form-container">
  <h1>Password resetting</h1>

  <form (ngSubmit)="sendPasswordResetToken()" [formGroup]="emailFormGroup">

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>

      <input type="text" matInput [formControl]="emailControl">

      <mat-error *ngIf="emailControl.hasError('required')">
        E-mail is required
      </mat-error>

      <mat-error *ngIf="emailControl.hasError('pattern')">
        Incorrect e-mail format
      </mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Reset my password</button>

    <p id="reset-info">Enter the e-mail associated with your account. After click 'Reset my password',
      we will send you password resetting link.</p>

  </form>

</div>

<mat-spinner mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>

