<div id="table-container">
  <div id="users-list" *ngIf="!lackOfUsers">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="username"> Username</th>
        <td id="username" mat-cell *matCellDef="let element"
            matTooltip="Click, to show available options"
            matTooltipPosition="left"
            (click)="openUserOptions(element)"> {{element.username}}
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="email"> Email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="role"> Role</th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                   showFirstLastButtons
                   aria-label="Select page of users">
    </mat-paginator>
  </div>
  <div *ngIf="lackOfUsers">
    No users found
  </div>
</div>
