#exams-container {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;;
  margin: 10px;
  font-size: 20px;
  text-decoration-color: black;
}

#exam-div {
  border: 4px solid cadetblue;
  border-radius: 10px;
  margin: 10px;
  min-width: 330px;
  max-width: 360px;
  background-color: white;
}

#empty-exams-list-info {
  text-align: center;
  font-size: 40px;
  margin-top: 5%;
}

#tutaj-text:hover {
  font-weight: bolder;
  cursor: pointer;
}

#tutaj-text:visited {
  color: black;
}

#exam-div-options {
  display: inline-flex;
  padding: 10px;
}

#exam-div-options span {
  margin-right: 10px;
}

#exam-div-options span:hover {
  cursor: pointer;
  font-weight: bold;
}

#exam-div-data {
  border-top: 4px solid cadetblue;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#exam-div-data p span {
  font-weight: bold;
}

#exam-div-data:hover {
  background-color: #b4ffd3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

#id-span {
  border-bottom: 2px solid cadetblue;
}
