#form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

form * {
  padding-bottom: 4%;
  width: 400px;
}

#password-reset-text {
  text-align: center;
}

#password-reset-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

h1 {
  text-align: center;
}
