<div id="form-container">
  <h1>Login form</h1>
  <form (ngSubmit)="login()" [formGroup]="userLoginForm">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>

      <input type="text" matInput [formControl]="usernameControl">

      <mat-error *ngIf="usernameControl.hasError('required')">
        Username is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input type="password" matInput [formControl]="passwordControl">

      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is required
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Log in</button>
    <p id="password-reset-text" (click)="goToPasswordResetPage()">Forgot my password</p>
  </form>

</div>
<mat-spinner mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
