<div id="form-container">
  <h1>Register form</h1>
  <form (ngSubmit)="registerUser()" [formGroup]="userRegisterForm">

    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>

      <input type="text" matInput [formControl]="usernameControl">

      <mat-error *ngIf="usernameControl.hasError('required')">
        Username is required
      </mat-error>
      <mat-error *ngIf="usernameControl.hasError('minlength')
              || usernameControl.hasError('maxlength')">
        Username has to contain from 3 to 60 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>

      <input type="text" matInput [formControl]="emailControl">

      <mat-error *ngIf="emailControl.hasError('required')">
        E-mail is required
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('pattern')">
        Incorrect e-mail format
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input type="password" matInput [formControl]="passwordControl">

      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')
              || passwordControl.hasError('maxlength')">
        Password has to contain from 6 to 30 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput [formControl]="passwordRepeatControl">

      <mat-error *ngIf="passwordRepeatControl.hasError('required')">
        Repeated password is required
      </mat-error>

      <mat-error *ngIf="passwordControl.value != passwordRepeatControl.value">
        `Passwords do not match`
      </mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Sign in</button>
  </form>

</div>
<mat-spinner mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
