<form id="new-exam-container"
      (ngSubmit)="saveExam('Do you want to save the exam?')"
      [formGroup]="newExamForm">

  <div id="new-exam-data">
    <mat-form-field appearance="outline">
      <mat-label>Exam name</mat-label>
      <input type="text" matInput [formControl]="examNameControl">
      <mat-error *ngIf="examNameControl.hasError('required')">
        Exam name is required
      </mat-error>
      <mat-error *ngIf="examNameControl.hasError('minlength')
              || examNameControl.hasError('maxlength')">
        Exam name has to contain from 1 to 255 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Difficulty level</mat-label>
      <mat-select [formControl]="difficultyLevelControl">
        <mat-option *ngFor="let level of difficultyLevels" [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="difficultyLevelControl.hasError('required')">
        Difficulty level is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Exam time</mat-label>
      <input [formControl]="examTimeControl" matInput mdc-datetime-picker="" date="false" time="true" type="text"
             id="timeedit"
             placeholder="HH:MM" show-todays-date="" minutes="true" min-date="date" edit-input="true"
             show-icon="true" ngModel="" class=" dtp-no-msclear dtp-input md-input">
      <mat-error
        *ngIf="examTimeControl.hasError('required')">
        Exam time is required
      </mat-error>
      <mat-error
        *ngIf="examTimeControl.hasError('pattern')">
        Exam time has to be refilled in HH:MM format
      </mat-error>
    </mat-form-field>

    <p>Questions number: {{examModel.questions.length}}</p>
    <p>Max exam points: {{this.examService.countCorrectAnswers(examModel)}}</p>

    <button type="button" (click)="addNewQuestion()" mat-raised-button color="primary">Add question</button>

    <mat-form-field appearance="outline">
      <mat-label>Question type</mat-label>
      <mat-select [(ngModel)]="newQuestionType" [ngModelOptions]="{standalone: true}">
        <mat-option [value]="'single'">
          Single choice
        </mat-option>
        <mat-option [value]="'multiple'">
          Multiple choice
        </mat-option>
        <mat-option [value]="'short'">
          Short answer
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Save exam</button>

  </div>

  <div *ngIf="examModel.questions.length != 0" id="questions-list">
    <h1 style="text-align: center">Questions list</h1>
    <div *ngFor="let question of examModel.questions; let i = index">

      <div class="question {{question.type}}">

        <div id="question-options">
          <span>{{(i + 1) + "."}}</span>
          <mat-form-field appearance="outline" id="question-content-input">
            <mat-label>Question content</mat-label>
            <input type="text" matInput required [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="question.content">
          </mat-form-field>

          <button type="button" class="answer-content-button" mat-raised-button color="primary"
                  (click)="addNewAnswerToQuestion(question)">Add answer
          </button>
          <button type="button" class="answer-content-button" mat-raised-button color="accent"
                  (click)="deleteThisQuestion(question)">Delete question
          </button>
        </div>

        <div id="answers" *ngFor="let answer of question.answers; let j = index">

          <div id="answer">
            <span>{{(i + 1) + "." + (j + 1) + "."}}</span>
            <mat-form-field appearance="outline" id="answer-content-input">
              <mat-label>Answer content</mat-label>
              <input type="text" matInput required [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="answer.content">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="answer.correctness" style="padding-top: 10px"
                          [ngModelOptions]="{standalone: true}"
                          [disabled]="question.type === 'short'" [color]="getQuestionColorCheckbox(question.type)"
                          (change)="selectAnswer(answer, question)"
                          matTooltip="Click, to mark this answer as correct"
                          matTooltipPosition="above">
            </mat-checkbox>
            <button type="button" mat-raised-button color="warn"
                    (click)="deleteThisAnswer(question, answer)"
                    matTooltip="Click, to delete this answer"
                    matTooltipPosition="above">Delete
            </button>
          </div>

        </div>

      </div>

    </div>
  </div>

  <div *ngIf="examModel.questions.length === 0" id="empty-exam-list-info">
    <p> This exam do not contain any questions! Add them :)</p>
  </div>

</form>
