<div id="form-container">
  <h1>Enter new password</h1>
  <form (ngSubmit)="setNewResetedPassword()" [formGroup]="setNewPasswordForm">

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>

      <input type="password" matInput [formControl]="passwordControl">

      <mat-error *ngIf="passwordControl.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')
              || passwordControl.hasError('maxlength')">
        Password has to contain from 6 to 30 characters
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input type="password" matInput [formControl]="passwordRepeatControl">

      <mat-error *ngIf="passwordRepeatControl.hasError('required')">
        Repeated password is required
      </mat-error>

      <mat-error *ngIf="passwordControl.value != passwordRepeatControl.value">
        Passwords do not match
      </mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Save new password</button>
  </form>

</div>
<mat-spinner mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
