#my-account-container {
  display: flex;
  flex-direction: initial;
}

#form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 2;
}

#my-exams {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

form mat-form-field {
  width: 400px;
  padding-bottom: 5%;
}

.panel h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.panel {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-bottom: 2%;

}

.panel-title {
  padding-bottom: 2%;
}

.panel h2 {
  padding-left: 2%;
}
