<div id="my-account-container">
  <div id="form-container">
    <form (ngSubmit)="saveUser('Do you want to save changes?')" [formGroup]="changePasswordForm">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>

        <input type="text" matInput readonly [formControl]="usernameControl">

        <mat-error *ngIf="usernameControl.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="usernameControl.hasError('minlength')
              || usernameControl.hasError('maxlength')">
          Username has to contain from 3 to 60 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>

        <input type="text" matInput readonly [formControl]="emailControl">

        <mat-error *ngIf="emailControl.hasError('required')">
          mail is required
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('pattern')">
          Incorrect e-mail format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>

        <input type="password" matInput [formControl]="currentPasswordControl">

        <mat-error *ngIf="currentPasswordControl.hasError('required')">
          Current password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>

        <input type="password" matInput [formControl]="newPasswordControl">

        <mat-error *ngIf="newPasswordControl.hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('minlength')
              || newPasswordControl.hasError('maxlength')">
          New password has to contain from 6 to 30 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat new password</mat-label>
        <input type="password" matInput [formControl]="newPasswordRepeatControl">

        <mat-error *ngIf="newPasswordRepeatControl.hasError('required')">
          Repeated new password is required
        </mat-error>

        <mat-error *ngIf="newPasswordControl.value != newPasswordRepeatControl.value">
          Passwords do not match
        </mat-error>

      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Save new password</button>
    </form>

  </div>
  <div id="my-exams">
    <div class="panel-title">
      <h3 style="color: red">Your role: {{this.myRole}}</h3>
      <h3>User panel</h3>
      <div class="panel" >
        <h2 routerLink="/my-exam-attempts">Show my exam attempts</h2>
      </div>
    </div>

    <div class="panel-title" *ngIf="this.myRole === 'ADMIN'">
      <h3>Admin panel</h3>
      <div class="panel" *ngIf="this.myRole === 'ADMIN'">
        <h2 routerLink="/users">Browse users</h2>
      </div>
    </div>

  </div>

</div>
<mat-spinner mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
