<div style="text-align: center">
  <h1>Welcome on TestMe homepage! :)</h1>
</div>
<div class="info-text">
  <h3>How to take an exam?</h3>
  <ol>
    <li>Click in '<b>Exams</b>' tab.</li>
    <li>Choose any exam.</li>
    <li>After reading the informations, click the button '<b>Start exam!</b>'.</li>
    <li>There are 3 question types:</li>
    <ul>
      <li><u>Single choice</u> - only one answer is correct.</li>
      <li><u>Multiple choice</u> - at least one answer is correct.</li>
      <li><u>Short answer</u> - user enter at least one answer in text input, if there are more than one answer, they have to be separated by comma (,).</li>
    </ul>
    <li>Exam ends when time is over, or user finish it by clicking '<b>Send exam</b>') button.
    </li>
    <li>After finish exam, there will be displayed informations about your score and exam time.</li>
  </ol>
</div>

<div class="info-text">
  <h3>How exam points scoring works?</h3>
  <ol>
    <li><u>Single choice question</u></li>
    <ul>
      <li>Choosing correct answer: +1 point</li>
      <li>Choosing incorrect answer: 0 points</li>
    </ul>
    <li><u>Multiple choice question</u></li>
    <ul>
      <li>Choosing correct answer: +1 point</li>
      <li>Choosing incorrect answer: -1 point</li>
      <li>It is impossible to get less than 0 points for all answers in one question.</li>
    </ul>
    <li><u>Short answer question</u></li>
    <ul>
      <li>Answers have to be separated by comma (,) - otherwise, every user answer in an input will be recognized as one answer.
      </li>
      <li>Entering correct answer: +1 point</li>
      <li>Entering incorrect answer: -1 point</li>
      <li>Entering more answers than there are: -1 point for every useless answer
      </li>
    </ul>
    <li>Keeping answer empty, choosing no one answer will score zero points.</li>
  </ol>
</div>

<div class="info-text">
  <h3>How to add new exam?</h3>
  <ol>
    <li>Click in '<b>New Exam</b>' tab.</li>
    <ol>
      <li>Fill the <b>Exam name</b> field.</li>
      <li>Choose <b>difficulty level</b> from drop down list.</li>
      <li>Fill the <b>Exam time</b> field.</li>
      <ul>
        <li>Entered exam time has to match with HH:MM format (HH - hours, MM - minutes)</li>
        <li>Exam time <u>cannot be</u> <b> equal to zero</b>!</li>
      </ul>
      <li>To add next questions, click in <b>Add question</b> button.</li>
      <li>While adding questions and choosing correct answers,
        questions number and max exam points will be changing.
      </li>
      <li>In depend on question type, there will be added exactly this question type:</li>
      <ol>
        <li><u>Single choice</u></li>
        <ul>
          <li>User will get question with answers to choose only one of them.</li>
          <li>This question type has to contain one, and only one correct answer.</li>
          <li>This question type has to contain at least two answers.</li>
        </ul>
        <li><u>Multiple choice</u></li>
        <ul>
          <li>User will get question with answers, to choose one or more of them.</li>
          <li>This question type has to contain at least one correct answer.</li>
          <li>This question type has to contain at least two answers.</li>
        </ul>
        <li><u>Short answer</u></li>
        <ul>
          <li>User will get a field, where he can enter his answer.</li>
          <li>This question type can contain one or more answers.</li>
          <li>While creating this question type, every answer has to be correct (it will be marked automatically).
          </li>
        </ul>
      </ol>
      <li>To choose which questions are correct, click in square field between answer content and delete button.
      </li>
      <li>To delete question, click in <b>Delete question</b> button, near chosen question.</li>
      <li>To delete answer, click in <b>Delete</b> button, near chosen answer.</li>
      <li>To save exam in database, after filling fields and adding questions and answers,
        click in <b>Save exam</b> button.
        After click, you will get information about the result of saving.
      </li>
    </ol>
  </ol>
</div>
