#exam-super-container {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

#exam-data-div {
  margin: 10px;
}

#exam-data-div p span {
  font-weight: bold;
}

#exam-questions {
  border: 4px solid cadetblue;
  border-radius: 10px;
  max-width: 50%;
  min-width: 40%;
  height: max-content;
  background-color: white;
  text-align: center;
  margin-left: 10%;
}

#exam-question {
  border: 2px solid cadetblue;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

.exam-start-finish-button-div {
  text-align: center;
}

.exam-start-finish-button {
  margin: 2.5%;
  transform: scale(2);
}

#question-content {
  font-weight: bold;
  margin-left: 3%;
  margin-right: 3%;
}

.answers {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 2%;
}

#timer {
  margin-top: 5px;
  margin-bottom: 5px;
}

mat-checkbox {
  padding-right: 10px;
}
