<div id="exam-super-container">
  <div id="exam-data-div">
    <p><span>ID:</span> {{exam.id}}</p>
    <p><span>Exam name:</span> {{exam.examName}}</p>
    <p><span>Difficulty level:</span> {{exam.difficultyLevel}}</p>
    <p><span>Exam time:</span> {{exam.timeInSeconds | examTimer}}</p>
    <p><span>Questions number: </span>{{exam.questions?.length}}</p>
    <p><span>Your last score: </span>{{this.responseExamPoints}} / {{this.examMaxPoints}}
      = {{getPercentageExamScore(this.responseExamPoints, this.examMaxPoints)}}</p>
    <p><span>Your last exam time:</span> {{userLastExamTime | examTimer}}</p>

    <div class="exam-start-finish-button-div" *ngIf="!examStarted">
      <button mat-raised-button color="primary"(click)="startTest()">Start exam!</button>
    </div>

    <div class="exam-start-finish-button-div" *ngIf="examStarted">
      <button mat-raised-button color="primary"
              (click)="finishTestByClick('Do you want to finish the exam?')">
        Finish exam</button>
    </div>
  </div>

  <div id="exam-questions" *ngIf="examStarted">
    <div id="timer">
      {{examTimeLeft | examTimer}}
    </div>
    <div id="exam-question" *ngFor="let question of exam.questions; let i = index">

      <p id="question-content">{{i + 1 + '. ' + question.content}}</p>

      <ng-container [ngSwitch]="question.type">
        <div *ngSwitchCase="'single'">
          <div class="answers" *ngFor="let answer of question.answers">
            <mat-checkbox [(ngModel)]="answer.correctness" style="padding-top: 10px" (change)="selectAnswer(answer, question)"
                          [ngModelOptions]="{standalone: true}" color="warn">
            </mat-checkbox>
            <span>{{answer.content}}</span>
          </div>
        </div>

        <div *ngSwitchCase="'multiple'">
          <div class="answers" *ngFor="let answer of question.answers">
            <mat-checkbox [(ngModel)]="answer.correctness" style="padding-top: 10px"
                          [ngModelOptions]="{standalone: true}" color="primary">
            </mat-checkbox>
            <span>{{answer.content}}</span>
          </div>
        </div>

        <div *ngSwitchCase="'short'">
          <mat-form-field appearance="outline">
            <mat-label>Your answer</mat-label>
            <input type="text" matInput required [(ngModel)]="question.userAnswer">
          </mat-form-field>
        </div>
      </ng-container>

    </div>
  </div>
</div>
